{% extends "base.html" %}

{% block page_title %}
    - details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col">{{ book.title }}</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-4">
                <img src="{{ book.picture.url }}" alt="" class="img-thumbnail">
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4 px-0">Author:</div>
                    <div class="col-8">
                        {% for author in book.authors.all %}
                            <div>
                                <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Published:</div>
                    <div class="col-8">{{ book.publishing_year }}</div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Publisher:</div>
                    <div class="col-8">{{ book.publisher }}</div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Cover type:</div>
                    <div class="col-8">{{ book.cover_type }}</div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Cost:</div>
                    <div class="col-8">
                        {% if book.cost != book.cost_with_discount %}
                            <span class="text-decoration-line-through">{{ book.cost }}</span>
                            <span style="color: red">{{ book.cost_with_discount }} ₽</span>
                        {% else %}
                            <span>{{ book.cost }} ₽</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Page count:</div>
                    <div class="col-8">{{ book.page_count }}</div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Language:</div>
                    <div class="col-8">{{ book.language }}</div>
                </div>
                <div class="row">
                    <div class="col-4 px-0">Description:</div>
                    <div class="col-8">{{ book.short_description }}</div>
                </div>
                <div class="row">
                    <div class="col fs-4">
                        {% if book.count_in_storage %}
                            <span class="p-1" style="background-color: #8f8;">available</span>
                        {% else %}
                            <span class="p-1" style="background-color: #f88;">not available</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
