{% extends "base.html" %}

{% block page_title %}
- catalog
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for book in books %}
            <div class="col-xs-12 col-sm-3">
                <div class="card p-3">
                    <div class="card-header mb-1">
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                    </div>
                    <a href="{{ book.get_absolute_url }}">
                        <img src="{{book.picture.url}}" alt="" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-4 px-0">Author:</div>
                                <div class="col-8">
                                    {% for author in book.get_authors %}
                                        <div>{{ author }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 px-0">Published:</div>
                                <div class="col-8">{{ book.publishing_year }}</div>
                            </div>
                            <div class="row">
                                <div class="col-4 px-0">Cost:</div>
                                <div class="col-8">{{ book.cost }} ₽</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
